.hallo {
	text-align: center;
	align-items: center;
	font-size: xxx-large;
}

.my-button {
	display: block;
	margin: auto;
}

.game {
	display: flex;
	justify-content: center;
}

.game-box {
	text-align: center;
	font-size: xx-large;
	height: 70px;
	width: 70px;
	border-radius: 15px;
	background-color: orange;
}
.pokemon, .state{
	display:block;
	/* justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 300px; */
}

.pokemon div, .state div{
	text-align: center;

}

.pokemon ul, .state ul{
	
	margin: 0;
	padding: 0;
	
}
#pokemon-name , #state-name{
	width: 300px;
	height: 20px;
}

.pokemon ul div, .state ul div{
	margin: auto;
	width: 308px;
	height: 26px;
	text-align: left;
	background-color: lightgray;
}
